2captcha-python==1.5.0
aiodns==3.2.0
aiohappyeyeballs==2.4.2
aiohttp==3.10.8
aiosignal==1.3.1
astroid==3.3.4
attrs==24.2.0
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.9
discord-protos==0.0.2
discord.py-self @ git+https://github.com/dolfies/discord.py-self@0471428fc89b057f3a4f1a30e8aa2f9a3b8caa4a
frozenlist==1.4.1
idna==3.10
isort==5.13.2
mccabe==0.7.0
mmh3==5.0.1
multidict==6.1.0
orjson==3.10.7
platformdirs==4.3.6
protobuf==5.28.2
pycares==4.4.0
pycparser==2.22
pylint==3.3.1
PyNaCl==1.5.0
python-dotenv==1.0.1
requests==2.32.3
tomlkit==0.13.2
tzlocal==5.2
urllib3==2.2.3
yarl==1.13.1
